button {
    background-color: rgb(151, 9, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 6px;
    margin-bottom: 3px;
    text-align: center;
    justify-self: center;
    display: list-item;
}
body{
    background-color: rgb(173, 233, 252);
}


main input{
    justify-self: center;
    display:flex;
}
header{
    background-color:rgb(96, 253, 253);
    text-align: center;
}