nav {
    background-color: black;
    text-align: center;
}

header {
    background-color: black;
    width: 200%;
    color: white;
    justify-self: left;
    object-fit: cover;
}

.marcop {
    display: flex;
}

.marcoputo {
    display: flex;
    justify-self: center;
}

.card {
    background-color: rgb(65, 4, 4);
    width: 10%;
    padding: 15px;
    border-radius: 5%;
    box-shadow: rgba(189, 11, 11, 0.651) 0px 4px 12px;
}

.card img {
    width: 100%;
    border-radius: 10%;
}

.card h5 {
    background-color: rgba(235, 230, 233, 0.911);
    width: 60px;
    justify-self: center;
    text-align: center;
    border: 2%;
    border-radius: 10%;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

body {
    background-color: rgba(161, 16, 16, 0.767);
}
main h2{
    color: rgb(255, 255, 255);
}
main p{
    color: rgb(255, 255, 255);
}
 